.contianer {
  width: 100%;
}
.form {
  width: 32%;
  margin: auto;
  border: 1px solid #999999;
  margin-top: 100px;
  padding: 50px 20px;
  border-radius: 8px;
}
h1 {
  text-align: center;
  color: skyblue;
  padding: 5px;
  margin: 0px;
}
.fristname{
  width: 47%;
 ;
}
.email-adress{
  width: 97%;
  
}
.email-adress p{
  /* width: 100%; */
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 12px;
  color: red;
}
.fristname p{
  color:red;
  /* display: flex;
  flex-direction: column; */
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 12px;

}
.inputFeild {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}
.para {
  text-align: center;
  margin: 30px 0px;
}
.btn {
  width: 100%;
  text-align: center;
}

